{% extends 'base.html'%}
{% load static %}

{% block content %}

    <h1>post_list</h1>
    {% for post in posts %}
    <!--
        post의 author,username과
        post.photo를 출력
    -->



    <div class="card mb-4" >
        <div class = 'card-body'>

            <!--
            1. static 폴더 만들기q
            2. settings.py에 STATIC_DIR 변수에 해당 경로 추가
            3. STATICFILES_DIRS예 위 변수 추가.
            4. 아래에서 post.author.img.profile존재하지 않으면
                /static/images/blank_user.png <- 이 경로를 src로 사용한다.
                이떄, 'static'태그를 사용
                -->




            {% if post.author.img_profile %}

                <div>
                    <img width="8%" src="{{post.author.img_profile.url}} " class="rounded-circle" alt="">
                </div>
            {% else %}
                <div>
                    <img width="8%" src="{% static '/images/blank_user.png' %}" alt="" class="rounded-circle">
                </div>

            {% endif %}

            <div >{{post.author.username}}</div>
            <from method="POST" style = "display: inline-block;">
                {% csrf_token %}
                <button type="submit" class = 'btn btn-outline-primary'>+Follow</button>
            </from>
            <!--<div><img width = "100%"src="/media/{{post.photo}}" alt=""></div>-->
            <!--하드코드 방식이라 좋지 않다. -->
            <!--settings.py에서 urls.py로 넘겨받은 prefix=settigns.MEDIA_URL을 기준으로 자동으로 만들어주고 싶다. -->
            <!--이미지 필드 photo의 url속성에 접속한다. -->

            <!--url속성은 이미지 필드에 대해서 자동으로 url을 만들어준다.-->
            <div>
                <img width="100%" src="{{post.photo.url}}" alt="">
                <p>{{ post.content }}</p>


                <form action="{% url 'posts:post-delete' pk=post.pk %}" method='POST'>
                    {% csrf_token %}
                    <button type="submit">글 삭제</button>
                </form>

                {% for comment in comments %}
                    {% if comment.post == post %}
                        <div>
                            <span class="float-left">{{comment.user}}</span>
                            <span class="float-left">{{comment.content}}</span>
                            <span class="float-right">{{comment.created_at}}</span>
                            .
                        </div>
                    {% endif %}
                {% endfor %}

                <form action="{% url 'posts:post-comment' pk=post.pk %}" method = 'POST'>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group" >

                        <div class="float-left">{{user.username}}</div>
                        <!--<label for="{{field.id_for_label}}">{{ field.label }}</label>-->
                        <div class="float-left">{{field}}</div>
                        <button type="submit" class="float-left"> 댓글등록</button>
                    </div>
                    {% endfor %}

                </form>

                <form action="{% url 'posts:post-like' pk=post.pk %}" method="POST">
                    {% csrf_token %}


                    {% if user.username in post.post_like_user_names %}
                        <button type="submit" class="float-right">좋아요 취소</button>
                    {% else %}
                        <button type="submit" class="float-right">좋아요</button>
                    {% endif %}

                    <!--{% for pl in post.postlike_set.all %}-->

                        <!--{% if p1.user == user %}-->
                             <!--<button type="submit" class="float-right">좋아요 취소</button>-->
                        <!--{% else %}-->
                             <!--<button type="submit" class="float-right">좋아요</button>-->
                        <!--{% endif %}-->

                    <!--{% endfor %}-->



                </form>


            </div>
        </div>
    </div>


    {% endfor %}

{% endblock %}

